<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Order Summary
      <p class="float-right">{{ order.datePlaced | date }}</p>
    </h5>
    <p class="card-text">
      You have
      <span class="font-weight-bold">{{
        order.items && order.items.length
      }}</span>
      items in your shopping cart.
    </p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of order.items" class="list-group-item">
        {{ item.quantity }} x {{ item.title || item.product.title }}
        <div class="float-right">
          {{ item.totalPrice | currency: 'USD':'symbol' }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total
        <div class="float-right">
          {{ getTotalPrice() | currency: 'USD':'symbol' }}
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">
      Shipping
    </h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="font-weight-bold">Name</span>
        <span class="float-right">
          {{ order.shipping && order.shipping.name }}
        </span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">City</span>
        <span class="float-right">
          {{ order.shipping && order.shipping.city }}
        </span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Address</span>
        <span class="float-right">
          {{ order.shipping && order.shipping.addressLine1 }}
        </span>
      </li>
      <li class="list-group-item">
        <span class="float-right">
          {{ order.shipping && order.shipping.addressLine2 }}
        </span>
      </li>
    </ul>
  </div>
</div>

<p class="mt-4">
  <a routerLink="/my/orders" class="btn btn-primary">My Orders</a>
</p>
